---
layout: default
title: Home
cover: false
about: 'more.html'
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif%}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo}}" alt="Blog Logo" />
                </a>
            {% endif %}
            <h2 class="blog-description"> 
                {{ site.description }}. 
                {% if page.about %}  {% endif %}
            </h2>

            <h1 class="blog-title">{{ site.name}}</h1>
            <h2 class="blog-description"> 
                Organizers
            </h2>
            <h2 class="blog-description"> 
                Chaitanya S. Gokhale, Mark Broom & Arne Traulsen
            </h2>
            <h2 class="blog-description"> 
            <a href='{{site.baseurl}}{{ page.about }}'> Learn More. </a>
            </h2> 
        </div>
    </div>
</header>

<main class="content" role="main">


    {% for post in paginator.posts limit:1 offset:10 %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta">
            {{!tags prefix="on "}}</span>
            <h1 class="post-title"><a href="{{ post.url}}">{{ post.title }}</a></h1>

        </header>

    </article>

    {% endfor %}
    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>
        
        {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %} 
    </nav>
    


</main>

